@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap');

:root{
    --gradient:linear-gradient(
        90deg
        , rgb(2, 0, 36) 0%, rgb(9, 9, 121) 35%, rgb(0, 212, 255) 100%);
}


*{
    font-family: 'Montserrat', sans-serif;
    margin: 0;padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;border: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

::selection{
    background:var(--gradient);
    color: #333;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;

}

html::-webkit-scrollbar{
    width: 1.4rem;
}

html::-webkit-scrollbar{
    background: #222;
}

html::-webkit-scrollbar{
    background:#00d4ff;
}

body{
    background: linear-gradient(
        90deg
        , rgb(2, 0, 36) 0%, rgb(9, 9, 121) 35%, rgb(0, 212, 255) 100%);
    overflow-x: hidden;
    padding-left: 35rem;

}

section{
    min-height: 100vh;
    padding: 1rem;
}

.btn{
    padding:.3rem 1rem;
    background: #333;
    color: #fff;
    cursor: pointer;
    margin-top: 1rem;
    font-size: 2rem;
    border-radius: 5rem;
}

.btn i{
    padding:0 .5rem;
    font-size: 1.8rem;
}

.btn:hover{
    background:linear-gradient(
        90deg
        , rgb(2, 0, 36) 0%, rgb(9, 9, 121) 35%, rgb(0, 212, 255) 100%);
}

.heading{
    text-align: center;
    margin: 0.6rem;
    font-size: 4rem;
    padding: 1rem;
    border-bottom: .1rem solid #fff4 ;
    color: #fff;
}

.heading span{
    color: #00d4ff;
}

header{
    position: fixed;
    top: 0;left: 0;
    z-index: 1000;
    height: 100%;
    width: 35rem;
    background: linear-gradient(
        90deg
        , rgb(2, 0, 36) 0%, rgb(9, 9, 121) 35%, rgb(0, 212, 255) 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    text-align: center;
}

header .user img{
    height: 17rem;
    width: 17rem;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 1rem;
    border: .7rem solid #00d4ff;
}

header .user .name{
    font-size: 3.5rem;
    color: #fff;
}

header .user .post{
    font-size: 2rem;
    color: #fff;
}

header .navbar ul{
    list-style: none;
    padding: 1rem 3rem;
}

header .navbar ul li a{
    display: block;
    padding: 1rem;
    margin: 1.5rem 0;
    background: linear-gradient(
        90deg
        , rgb(2, 0, 36) 0%, rgb(9, 9, 121) 35%, rgb(0, 212, 255) 100%);
    color: #fff;
    font-size: 2rem;
    border-radius: 5rem;
}

header .navbar ul li a:hover{
    background: #00d4ff;
}

#menu{
    position: fixed;
    top: 2rem; right: 2rem;
    background: #333;
    color: #fff;
    cursor: pointer;
    font-size: 2.5rem;
    padding: 1rem 1.5rem;
    z-index: 1000;
    display: none;
}


.home{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    padding: 0 15rem;
}

.home h3{
    font-size: 2.5rem;
    color: #fff;
}

.home h1{
font-size: 5rem;
color: #fff;
}

.home h1 span{
    color: #00d4ff;
}
.home p{
    font-size: 2rem;
    color: #eee;
    padding: 1rem 0;
}

.about .row{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 1rem 0;
}


.about .row .info{
    flex: 1 1 48rem;
    padding: 2rem 1rem;
    padding-left: 6rem;
}


.about .row .info h3{
    font-size: 2rem;
    color: var(--gradient);
    padding: 1rem 0;
    font-weight: normal;
}

.about .row .info h3 span{
    color: #eee;
    padding: 0 .5rem;

}

.about .row .counter{
    flex: 1 1 48rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.about .row .counter .box{
    width: 20rem;
    background: linear-gradient(
        90deg
        , rgb(2, 0, 36) 0%, rgb(9, 9, 121) 35%, rgb(0, 212, 255) 100%);
    text-align: center;
    padding: 2rem;
    margin: 2rem;
}

.about .row .counter .box span{
    font-size: 4rem;
    color: var(--gradient);
}

.about .row .counter .box h3{
    font-size: 2rem;
    color: #fff;
}

/* skills */
.skills{
    display: grid;
    height: 100%;

    place-items: center;
}

.skills-bar{
    width: 100%;
    background:linear-gradient(
        90deg
        , rgb(2, 0, 36) 0%, rgb(9, 9, 121) 35%, rgb(0, 212, 255) 100%);
    border-radius: 10px;
    padding: 25px 30px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.2);
    color: white;
}

.skills-bar .bar{
    margin: 20px 0;
}

.skills-bar .bar:first-child{
    margin-top: 0px;
}

.skills-bar .bar .info{
    margin-bottom: 5px;
}
.skills-bar .bar .info span{
font-size: 17px;
font-weight: 500;
}

.skills-bar .bar .progress-line{
    position: relative;
    height: 10px;
    width: 100%;
    background: #f0f0f0;
    border-radius: 10px;
    box-shadow: inset 0px 1px 1px rgba(0,0,0,0.05),
                      0px 1px rgba(255,255,255,0.8);

}

.bar .progress-line span{
    height: 100%;
    width: 80%;
    background: #00d4ff;
    position: absolute;
}

.progress-line.hmtl span{
    width:90%;
}
.progress-line.css span{
    width:85%;
}
.progress-line.bootsrap span{
    width:90%;
}
.progress-line.javascript span{
    width:85%;
}
.progress-line.react span{
    width:80%;
}
.progress-line.mongo span{
    width:75%;
}


.bar .progress-line span::before{
    position: absolute;
    content: "";
    right: 0;
    top: -10px;
    height: 0;
    width: 0;
    border: 7px solid transparent;
    border-bottom-width: 0px;
    border-right-width:0px ;
    border-top-color: #333;
}

.bar .progress-line span::after{
    position: absolute;
    content: "80%";
    right: 0;
    top: -28px;
    color: #fff;
    font-size: 12px;
    font-weight: 500;
    background: #333;
    padding: 1px 8px;
    border-radius: 3px;
}


.progress-line.hmtl span::after{
    content: "90%";
}
.progress-line.css span::after{
    content: "85%";
}
.progress-line.bootsrap span::after{
    content: "90%";
}
.progress-line.javascript span::after{
    content: "85%";
}
.progress-line.react span::after{
    content: "80%";
}
.progress-line.mongo span::after{
    content: "75%";
}
 

/* service */

.service{
    background: linear-gradient(
        90deg
        , rgb(2, 0, 36) 0%, rgb(9, 9, 121) 35%, rgb(0, 212, 255) 100%);
}

.service .box-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.service .box-container .box{
    border: .1rem solid rgba(0,0,0,.2);
    border-radius: .5rem;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    margin: 1.5rem;
    padding: 2.5rem;
    background: linear-gradient(79deg,#00d4ff 50%, #fff 50.1%);
    position: relative;
    z-index: 0;
    flex: 1 1 30rem;
}

.service .box-container .box .number{
    font-size: 7rem;
    color:linear-gradient(
        90deg
        , rgb(2, 0, 36) 0%, rgb(9, 9, 121) 35%, rgb(0, 212, 255) 100%);
    position: absolute;
    top: -1rem;right: 1rem;
    z-index: -1;
    font-weight: bolder;
}

.service .box-container .box:hover .number{
    font-size: 9rem;
}

.service .box-container .box h3{
    font-size: 2rem;
    color: #333;
}

.service .box-container .box p{
    font-size: 1.5rem;
    color: #666;
    padding: 1rem 0;
}

.contact .row form{
    margin: 3rem 0;
}

/* email */
.email{
    text-transform: lowercase;
}
.contact .row{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.contact .row .content{
    flex:1 1 30rem;
    padding:4rem;
    padding-bottom: 0;
}

.contact .row form{
    flex:1 1 45rem;
    padding:2rem;
   margin:2rem;
   margin-bottom: 4rem;
}

.contact .row form .box{
    padding: 1.5rem;
    margin: 1rem 0;
    background: #3333;
    color: #fff;
    text-transform: none;
    font-size: 1.7rem;
    width: 100%;
}


.contact .row form .box ::placeholder{
    text-transform: capitalize;
}

.contact .row form .box ::placeholder{
    text-transform: capitalize;
}

.contact .row form .message{
    height: 15rem;
    resize: none;
}

.contact .row .content .title{
    text-transform: uppercase;
    color: #fff;
    font-size: 3rem;
    padding-bottom: 2rem;
}


.contact .row .content .info h3{
    display: flex;
    align-items: center;
    font-size: 2rem;
    color: #eee;
    padding: 1rem 0;
    font-weight: normal;
}

.contact .row .content .info h3 i{
    padding-right: 1rem;
    color: var(--gradient);
}


.top{
    position: fixed;
    bottom: 7.5rem; right: 2rem;
    z-index: 100;
    display: none;
}


/* project */

/* Projects Section */
#projects {
	padding: 10rem 0;
    position: sticky;
    z-index: 2;
}
#projects .item {
	display: flex;
	align-items: center;
	justify-content: center;
	max-width: 800px;
	margin: 0 auto;
	margin-bottom: 15rem;
}
#projects .item:nth-of-type(even) {
	flex-direction: row-reverse;
}
#projects .item .left {
	flex: 1;
}
#projects .item .right {
	margin-left: -150px;
	flex: 1;
    background: linear-gradient(79deg,#fff 50% , #00d4ff 50.1%);
	padding: 5rem 3rem;
	border-radius: 12px;
	box-shadow: 0px 0px 20px #00000028;
	z-index: 2;
}
#projects .item:nth-of-type(even) .right {
	margin-left: 0;
}
#projects .item:nth-of-type(even) .left {
	margin-left: -150px;
}
#projects .item .left .img {
	height: 500px;
	overflow: hidden;
  
	border-radius: 12px;
	overflow: hidden;
	box-shadow: 0px 0px 20px #4705fc33;
	position: relative;
}
#projects .item .left .img::after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-color: #4705fc33;
}
#projects .item .left .img img {
	object-fit: cover;
	transition: 10s ease transform;
}
#projects .item:hover .left .img img {
	transform:translateY(-100%);
	z-index: 1;
}
#projects .item .right .project-title {
	font-size: 2.5rem;
	font-family: 'Montserrat';
	margin-bottom: 1rem;
}
#projects .item .right .project-sub-title {
	font-size: 1.6rem;
	margin-bottom: 2rem;
}
#projects .item .right .project-desc {
	color: var(--secondary-gray);
	margin-bottom: 3rem;
}
#projects .item .right .external-link {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1rem;
	padding: calc(0.6em - 4px) calc(1.6em - 4px);
}
#projects .item .right .external-link svg {
	width: 25px;
}




.text-link{
    color: white;
}

.proj-img{
    width: 100%;
   transition: all 10s ease;
}

@media only screen and (max-width: 768px) {
	#projects .item {
		flex-direction: column;
	}
	#projects .item .left {
		width: 100%;
	}
	#projects .item .right {
		margin-left: 0;
		width: 90%;
		margin-top: -150px;
	}
	#projects .item:nth-of-type(even) {
		flex-direction: column;
	}
	#projects .item:nth-of-type(even) .left {
		margin-left: 0;
	}
}
@media only screen and (max-width: 450px) {
	#projects .item .right .buttons {
		flex-direction: column;
	}
	#projects .item .right .buttons a {
		width: 100%;
		text-align: center;
        
	}
}
 

/* Blog section */
@import url('https://fonts.googleapis.com/css?family=Merriweather|Open+Sans');

.container-blog{
  display: flex;
  justify-content: center;
color: black;
  
  width: 100%;
}

.square:hover {
    -webkit-transform: translate(20px, -10px);
    -ms-transform: translate(10px, -10px);
    transform: translate(10px, -10px);
    -webkit-box-shadow: 0 20px 40px rgba(0, 0, 0, 0.08);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.08);
     }


.square{
  width: 460px;
	height: 430px;
	background: white;
  border-radius: 4px;
  box-shadow: 0px 20px 50px #D9DBDF;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease; 
  color: black;
}

.mask{
  clip: rect(0px, 460px, 220px, 0px);
  border-radius: 4px;
  position: absolute;
  width: 100%;
}

img{
  width: 460px;
  }

.h1{
  margin: auto;
  text-align: left;
  margin-top: 240px;
  padding-left: 30px;
  

  font-size: 24px;

}
p{
 text-align: justify; 
 padding-left: 30px;
 padding-right: 30px;

 font-size: 12px;

 line-height: 18px;
}

.button-blog {
    background-color: #3EDD84;
    color: white;
    width: 90px;
    padding: 10px 18px;
    border-radius: 3px;
    text-align: center;
    text-decoration: none;
    display: block;
    margin-top: 20px;
    margin-left: 30px;
    margin-right: 70px;
    font-size: 12px;
    cursor: pointer;
    font-family: 'merriweather';


}
/* blog section ends */


/* media queries */

@media(max-width:1200px){
    html{
        font-size: 55%;
    
    }

    .home{
        padding: 1rem;
    }
}

@media(max-width:991px){

    header{
        left: -120%;
    }

    #menu{
        display: block;
    }

    header.toggle{
        left:0%
    }

    body{
        padding: 0;
    }
}



@media(max-width:768px){
  html{
    font-size: 50%;
     }
  
}



@media(max-width:400px){

    header{
        width: 100vw;
    }
  
    .heading{
        margin: 0  3rem;
    }

    .about .row .counter .box{
        width: 100%;
    }
}

